$midnight: #56baed;
$clouds: #ecf0f1;

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.header{
  float: left;
  width: 98.5%;
  margin-top: 20px;

  .title {
    padding-left: 20px;
    margin: 10px;
    float: left;
  }
}

// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab-small{
  width: 12%;
  float: left;
}
.tab {
  float: left;
  color: white;
  overflow: hidden;
  width: 100%;

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    background: $midnight;
    font-weight: bold;

    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    padding-top: 0px;
  }
}
