<div class="row">
  <div class="header">
    <div class="title">
      <h5>Categories</h5>
      <p *ngIf="!categories">
        <em>Loading...</em>
      </p>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-light"
        (click)="addEditCategory()">
        <fa-icon [icon]="faPlusCircle" class="buttonCreateColor"
        title="Create category"></fa-icon>
      </button>
    </div>
  </div>
</div>

<template #categoryContainer></template>

<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab" *ngFor="let category of categories; let i = index">

        <!--actions-->
        <div class="tab-small">
          <fa-icon [icon]="faMinusCircle" (click)="deleteCategory(category)"
          class="btn btn-light buttonRemoveColor" title="Delete category"></fa-icon>
          <fa-icon [icon]="faEdit" (click)="addEditCategory(category)"
          class="btn btn-light buttonEditColor" title="Edit category"></fa-icon>
        </div>

        <input type="checkbox" id="{{i}}" (change)="toggle(category.id, $event)"/>
        <label class="tab-label" for="{{i}}">{{category.name}}</label>

        <!--contacts-->
        <div class="tab-content" *ngFor="let contact of category.contacts; let j = index">
          <app-contact [contact]="contact"></app-contact>
        </div>

      </div>
    </div>
  </div>
</div>
