<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Welcome to ContactBook CQRS!</h1>
</div>

<p>This single-page application was built with:</p>
<ul>
  <li>
    <a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code
    <ul>
      <li>Identity Core</li>
      <li>Entity Framework Core</li>
      <li>Automapper</li>
      <li>Fluent Validation</li>
    </ul>
  </li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<hr>
<ul>
  <li>
    <a href='http://localhost:5000/swagger/index.html' target="_blank">
      Check the API using Swagger!
    </a>
    <li>
      <a href='http://localhost:5000/hc-ui' target="_blank">
        Check the HeathChecks!
      </a>
    </li>
</ul>

