<div [ngClass]="{ 'backgrop-container': isNewContact }">
  <div [ngClass]="{ 'wrapper fadeInDown form-position': isNewContact }">

    <div class="contact-container">
      <div class="row actions-menu" *ngIf="!isNewContact">
        <button type="button" class="btn btn-light buttonRemoveColor"
          (click)="deleteContact()">
          <fa-icon [icon]="faMinusCircle"></fa-icon>
        </button>
        <button type="button" class="btn btn-light buttonEditColor"
          (click)="setEditable()">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>

      <div [ngClass]="{ 'contactFormContent': isNewContact }">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="title-column">
              <span class="label-bold" *ngIf="!isNewContact">
                Name
              </span>
            </div>
            <div class="right-column">
              <span class="label" *ngIf="!isEditMode">{{ contact.name }}</span>
              <div class="form-group" *ngIf="isEditMode ">
                <input type="text" id="name" name="name" formControlName="name"
                  [(ngModel)]="contact.name" placeholder="Name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="title-column">
              <span class="label-bold" *ngIf="!isNewContact">
                E-mail
              </span>
            </div>
            <div class="right-column">
              <span class="label" *ngIf="!isEditMode">{{ contact.email }}</span>
              <div class="form-group" *ngIf="isEditMode ">
                <input type="text" id="email" name="email" formControlName="email"
                  [(ngModel)]="contact.email" placeholder="E-mail"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="title-column">
              <span class="label-bold" *ngIf="!isNewContact">
                Birth date
              </span>
            </div>
            <div class="right-column">
              <span class="label" *ngIf="!isEditMode">{{ contact.birthDate | date }}</span>
              <div class="form-group" *ngIf="isEditMode ">
                <input type="date" id="birthDate" name="birthDate" formControlName="birthDate"
                  placeholder="yyyy-mm-dd" [(ngModel)]="contact.birthDate" ngbDatepicker
                  [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }">

                <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthDate.errors.required">Birth date is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="title-column">
              <span class="label-bold" *ngIf="!isNewContact">
                Phone number
              </span>
            </div>
            <div class="right-column">
              <span class="label" *ngIf="!isEditMode">{{ contact.phoneNumber }}</span>
              <div class="form-group" *ngIf="isEditMode ">
                <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                  [(ngModel)]="contact.phoneNumber" placeholder="Phone number"
                  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="{'edit-footer': !isNewContact, 'formFooter': isNewContact }" *ngIf="isEditMode">
            <input type="button" (click)="cancel()" class="cancel-button" value="Cancel">
            <input type="submit" value="Save">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
