<div class="wrapper fadeInDown">
  <div id="formContent">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="name" name="name" formControlName="name" class="fadeIn second" placeholder="Name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <input [disabled]="loading" type="submit" class="fadeIn fourth" value="Add category">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
  </div>
</div>
