<div class="wrapper fadeInDown">
  <div class="formContent">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">When</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>

    <div class="formFooter">
      <input type="button" class="cancel-button" value="Close">
    </div>

  </div>
</div>
